<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0b4e8b2d-24a5-490b-bf7b-8e9b9ff0fa6a" name="Class Practice" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0b4e8b2d-24a5-490b-bf7b-8e9b9ff0fa6afileName">Class-Practice</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
