<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="52bac20b-8073-4972-9439-cc4558dd90a8" name="GetUser" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="52bac20b-8073-4972-9439-cc4558dd90a8fileName">GetUser</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="GetUser.json">
    <con:part>
      <con:url>GetUser.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"GetUser","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/api/v1/user/":{"description":"","get":{"description":"","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Default response"}}},"put":{"description":"","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"post":{"description":"","requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"delete":{"description":"","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://www.test-insurance.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="bdcec340-7a1a-4cbd-a643-4643a4b1cf47">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
