<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="16e1fba0-595c-46dc-801e-c7038312675a" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="16e1fba0-595c-46dc-801e-c7038312675afileName">Regression-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
